.log{
    display: flex;
    justify-content: center;
    align-items: center;
    height:300px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;

    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.btn{
    border-radius: 10%;
    height: 50px;
    width: 100px;
    font-size: 1.6rem;
    color: white;
    background-color:rgb(16, 202, 63);
}